.openBox {
	display: flex;
	flex-direction: column;
	/* background-color: aquamarine; */
	width: 157px;
	height: 160px;
}

.openBoxBow {
	z-index: 2;
	width: 100%;
}

.headerBox {
	position: relative;
	bottom: 40px;
	width: 100%;
}
.mainBox {
	position: relative;
	bottom: 130px;
	width: 100%;
}

.backgroundPage {
	position: absolute;
}
