html,
body {
	margin: 0;
	padding: 0;
	position: relative; /* Для псевдоелемента */

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
	margin: 0;
	height: 100%; /* 100% висота екрану */
	overflow: hidden;
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('./img/backgroundPhoto.png') right top no-repeat, linear-gradient(to bottom, rgba(255, 255, 255, 0), #132529 10%);
	background-size: auto 100%, auto; /* Розмір картинки та градієнту */
	filter: blur(20px);
	z-index: -1; /* Піднести псевдоелемент під зміст сторінки */
}

body {
	color: #f4f4f4;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* .mainImg {
	position: absolute;
	display: flex;
	justify-content: end;
	height: 100%;
	overflow: hidden;
	width: 100%;
}
.img {
	height: auto;
	filter: blur(20px);
	position: relative;
	object-fit: contain;
	object-position: left center;
} */
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 18px 0 0 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
header {
	display: flex;
	justify-content: space-between;
	margin-top: 18px;
}

.logoImg {
	height: 80px;
	width: 80px;
	z-index: 20;
}
.brandNameImg {
	height: 84px;
	width: 170px;
	margin-left: 40px;
}

/* //////////main//////// */
main {
	flex-grow: 1;
	margin-top: 100px;
}
.mainInform {
	display: flex;
	justify-content: space-between;
}
.mainInform_imgItem {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.icon_menu {
	padding-top: 18px;
}
.icon_menu img {
	margin-left: 28px;
	z-index: 10;
}
.mainInform_itle {
	font-size: 64px;
}
.mainInform_textB {
	font-size: 32px;
}
.mainInform_textL {
	z-index: 20;
}

/* ///main img */
.mainInform_img {
	display: flex;
}

/* ////////footer//////// */
.footer {
	flex-shrink: 0;
	padding: 5%;
}

.questionBlock_textQuestion {
	font-size: 20px;
}

.questionBlock_button {
	display: flex;
}
.butYes {
	width: 50%;
	height: 60px;
	border: none;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background: linear-gradient(-135deg, rgba(255, 111, 0, 0) 10%, #12b0b9 10%);
	color: white;
	padding: 10px 20px;
	position: relative;
	font-size: 16px;
	cursor: pointer;
}

.butYes {
}

.butNo {
	border: none;
	width: 50%;
	background-color: #12b0b9;
	height: 60px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	background: linear-gradient(45deg, rgba(255, 111, 0, 0) 10%, #12b0b9 10%);
	color: white;
	padding: 10px 20px;
	position: relative;
	font-size: 16px;
	cursor: pointer;
}
