/* ///64PX-100% */
html,
body {
	margin: 0;
	padding: 0;
	position: relative; /* Для псевдоелемента */

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
	margin: 0;
	height: 100%; /* 100% висота екрану */
	overflow: hidden;
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('./img/backgroundPhoto.png') right top no-repeat, linear-gradient(to bottom, rgba(255, 255, 255, 0), #132529 10%);
	background-size: auto 100%, auto; /* Розмір картинки та градієнту */
	filter: blur(20px);
	z-index: -1; /* Піднести псевдоелемент під зміст сторінки */
}

body {
	color: #f4f4f4;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 64px;
	font-weight: 400;
}

@media screen and (max-height: 721px) {
	body {
		font-size: 32px;
	}
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 18px 0 0 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* margin-top: 18px; */
}

@media screen and (max-height: 721px) {
	header {
		/* margin-top: 1px; */
		/* background-color: azure; */
	}
}

.logoImg {
	height: 80px;
	width: 80px;
	z-index: 20;
}

.brandNameImg {
	height: 84px;
	width: 170px;
	/* margin-left: 40px; */
}

.icon_menu {
	/* padding-top: 18px; */
}
.icon_menu img {
	margin-left: 28px;
	z-index: 10;
}

@media screen and (max-height: 721px) {
	.logoImg {
		height: 40px;
		width: 40px;
	}

	.brandNameImg {
		height: 42px;
		width: 85px;
	}
}

/* //////////main//////// */
main {
	flex-grow: 1;
	margin-top: 100px;
}

@media screen and (max-height: 721px) {
	main {
		flex-grow: 1;
		margin-top: 20px;
		height: 100px;
	}
	.mainInform_imgMain {
		width: 50%;
	}
	.mainInform_imgItem img {
		width: 20%;
		height: 20%;
	}
}

.mainInform {
	display: flex;
	/* justify-content: space-between;
    wo */
}

.mainInform_textBlock {
	display: flex;
	/* align-items: center; */
	margin-right: 50px;
}
.mainInform_imgItem {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

.mainInform_itle {
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 40px;
}
.mainInform_textB {
	font-size: 50%;
	font-weight: bold;
	margin-bottom: 40px;
}
.mainInform_textL {
	font-size: 25%;
}

/* ///main img */
.mainInform_img {
	display: flex;
}

/* @media screen and (max-height: 721px) {
	.mainInform_imgMain img {
		height: 50%;
		background-color: #132429;
	}
	.mainInform_imgItem img {
		width: 50%;
	}
} */

/* ////////footer//////// */
.footer {
	flex-shrink: 0;
	padding-bottom: 5%;
}
.questionBlock_text {
	display: flex;
	align-items: center;
}

.questionBlock {
	margin-top: 34px;
}

.orderBlock {
	font-size: 25%;
}

.questionBlock_textQuestion {
	font-size: 31%;
	font-weight: bold;
	margin-left: 5px;
}
.questionBlock_textNumber {
	font-size: 25%;
}
.questionBlock_button {
	display: flex;
	margin-top: 24px;
}
.butYes {
	width: 50%;
	height: 15%;
	border: none;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background: linear-gradient(-135deg, rgba(255, 111, 0, 0) 10%, #12b0b9 10%);
	color: #132429;
	padding: 10px 20px;
	position: relative;
	font-size: 25%;
	cursor: pointer;
	font-weight: bold;
}

.butNo {
	border: none;
	width: 50%;
	background-color: #12b0b9;
	height: 15%;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	background: linear-gradient(45deg, rgba(255, 111, 0, 0) 10%, #12b0b9 10%);
	color: #132429;
	padding: 10px 20px;
	position: relative;
	font-size: 25%;
	cursor: pointer;
	font-weight: bold;
}
